body * {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
section {
	width: 60em;
	margin: 0 auto;
}

.fullBoard {
	width: 300px;
	margin: 25px auto;
}

.fullBoard > div > div {
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: top;
}

.mid.row {
	border-top: 5px black solid;
	border-bottom: 5px black solid;
	width: 300px;
}

.Middle {
	border-right:5px black solid;
	border-left:5px black solid ;
}
p {
	font-size: 3em;
	padding: 25%;
	text-align: center;
}
h1 {
	text-align: center;
	font-size:  4em;
}
.newGameButton {
	width: 175px;
	margin: 0 auto;
}